* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555555;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.box {
  padding: 1%;
}
.intro {
  height: 100vh;
  background-color: #fff;

  position: relative;
}
/*  */
.calculator {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.836),
    rgba(85, 85, 85, 0.555)
  );
  border: 2px solid #080808;
  width: 40%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.63);
}

.digit-screen {
  background-color: #fff;
  border: 2px transparent;
  width: 90%;
  height: 20%;
  border-radius: 100px;
  margin: auto;
  margin-top: 3%;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.63);
}
